.favorite-posts-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .sort-option {
    margin-bottom: 20px;
  }
  
  .sort-option label {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
  }
  
  .sort-option input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .sort-option input[type="checkbox"]:focus {
    outline: none; /* Remove default focus outline */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
  }

  .favorite-post-null {
    color: #555; /* Neutral text color */
    font-size: 18px; /* Slightly larger font size */
    font-weight: 500; /* Semi-bold font weight */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Space around the message */
    padding: 10px 20px; /* Padding for extra space inside the element */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  