body {
    background-color: #ddcaca;
}


.login-container {
    background-color: rgb(34, 34, 31);
    color: white;
    font-size: 18px; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    max-width: 400px; 
    margin: 0 auto; 
  }

  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
  }

  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    padding: 10px;
    width: 100%; 
    max-width: 300px;
    border: 1px solid rgb(6, 97, 111);
    border-radius: 5px;
    text-align: center;
  }

  .login-button {
    margin-bottom: 20px;
    width: 100%; 
  }

  .register-text {
    font-size: 14px; 
    color: #ccc; 
  }

  .button-register {
    margin-left: 5px; 
  }

  .button-register a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .button-register a:hover {
    color: #ffc107; 
  }

  p {
    margin-top: 10px;
    color: #ccc; 
  }




