.profile-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.profile-header {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.profile-header h2 {
  margin: 0;
  font-size: 30px;
  color: #333;
}

.profile-details {
  padding: 20px;
  margin-bottom: 20px;
}

.profile-detail {
  margin-bottom: 15px;
}

.profile-detail strong {
  display: inline-block;
  width: 100px;
  color: #555;
}

.profile-detail span {
  color: #333;
}

.profile-details p {
  color: red;
  font-weight: bold;
}

.user-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.user-list li:last-child {
  border-bottom: none;
}

.title-user-role {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.button-promote-admin {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
}

.button-promote-mod{
  background-color: #d99e27;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
}

.button-demote-user{
  background-color: #2748d9;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
}

.button-promote-admin:hover {
  background-color: #45a049;
}

.button-hide-userlist {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-hide-userlist:hover {
  background-color: #007bb5;
}

.profile-title{
  padding: 10px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
  color: #333;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

  